/* Home Section */
#UI_main .container-fluid{
    height: 100%;
}
#section_home{
    height: 100%;
    background-color: #f2f3ee;
}

/* Overview Section */
#section_overview .card p{
    width: 250px;
}

/* People Section */
#section_people .d-flex .flex_items{
    border-left-color: lightgray;
    border-left-style: solid;
    border-left-width: thin;
}